<div class="mainBanner">
        <div class="mainBanner1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 text-sm-left mt-4">
                            <div class="mainTxt">
                                    Learn LIVE Online
                                    <div>from India's Best Teachers</div>
                            </div>
                        <div>
                            <div class="boards d-flex text-sm-center text-light font-weight-bold">
                                <div class="boardone">
                                    Class 6 - 12
                                </div>
                                <div class="boardtwo">
                                    CBSE | ICSE | JEE | NEET
                                </div>
                            </div>
                        </div>
                        <div class="video-container" id="home-intro-video"><iframe
                                src="https://www.youtube.com/embed/oaJgjW0PFcs?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.vedantu.com"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen="" data-gtm-yt-inspected-1181349_644="true" id="575844661"></iframe>
                        </div>
                    </div>
                    <div class="mobile col-sm-12 col-lg-6 mx-auto">
                    
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <div class="container-fluid desktopCrop">
        <div class="row">
            <img src="https://www.vedantu.com/cdn/images/new-homepage/desktop-crop.png" width="100%">
        </div>
    </div>
    
    <div class="cotainer-fluid mobileCrop">
            <div class="row">
                <img width="100%" class="wave-image" src="https://www.vedantu.com/cdn/images/new-homepage/mobile-crop.png">
            </div>
    </div>

<div class="container mt-4" id="">
        <div class="row col-12">
                <div class="col-lg-8 col-sm-8"> 
                    <div class="textApp my-2">Attend FREE LIVE classes today! Download App NOW.</div>
                    <div class="d-flex">
                        <div class="googlePlay" data-analytics-type="clickStream" data-click-stream-category="homepage" data-click-stream-action="click" data-click-stream-label="google_play_clicked" data-click-stream-key1="google_icon_text" data-click-stream-value1="google play">
                            <a href="https://vedantu.app.link/jMT0Exz5mV" class="vedantu-app-link">
                                <img src="https://d13mydmqxbdcgk.cloudfront.net/cdn/images/new-homepage/play-store.svg?ver=11.90" alt="ncert-app-play-store">
                            </a>
                        </div>
                        <div class="iosPlay" data-analytics-type="clickStream" data-click-stream-category="homepage" data-click-stream-action="click" data-click-stream-label="ios_play_clicked" data-click-stream-key1="ios_icon_text" data-click-stream-value1="ios play">
                            <a href="https://apps.apple.com/sz/app/vedantu-learning-app/id1481959104" class="vedantu-app-link">
                                <img src="https://d13mydmqxbdcgk.cloudfront.net/cdn/images/new-homepage/app-store.svg?ver=11.90" alt="ncert-app-play-store">
                            </a>
                        </div>
    
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4"> 
                    <form id="link-form">
                            <div class="text-dark my-4">
                                    Get link in SMS to download the app
                                </div>
                        <div>
                            <div class="d-flex">
                                <div class="contact-box">
                                    <input type="text" class="form-control" pattern="^[0-9]{6,14}$" maxlength="16" minlength="8" placeholder="Enter mobile number">
                                </div>
                                <input type="submit" class="phoneBtn" value="GET LINK">
                            </div>
                            <!-- <div class="link-confirmation-text">
                                The link will be sent to {{mobNumber}}
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
    </div>