<footer class="px-4">
    <div class="container-fluid p-4">
        <div class="row col-12">
            <div class="col-sm-12 col-lg-2">
                <h5 class="py-3">QUICK LINKS</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Our Results</a></li>
                    <li><a href="">Become a Teacher</a></li>
                    <li><a href="">Try Whiteboard</a></li>
                    <li><a href="">Try WAVE</a></li>
                    <li><a href="">Micro Courses</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">sitemap</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-2">
                <h5 class="py-3">TARGET EXAMS</h5>
                <ul class="list-unstyled">
                    <li><a href="">CBSE Tuitions</a></li>
                    <li><a href="">ICSE Tuitions</a></li>
                    <li><a href="">JEE Main</a></li>
                    <li><a href="">Revision Notes</a></li>
                    <li><a href="">IGCSE Past Papers</a></li>
                    <li><a href="">Previous Year Question Paper</a></li>
                    <li><a href="">Sample Papers</a></li>
                    <li><a href="">HC Verma Solutions</a></li>
                    <li><a href="">ICSE Class 10 Solutions</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-2">
                <h5 class="py-3">INFO</h5>
                <ul class="list-unstyled">
                    <li><a href="">Benefits</a></li>
                    <li><a href="">Why Vedantu?</a></li>
                    <li><a href="">Testimonials</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">About us</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-3">
                <h5 class="py-3">FREE RESOURCES</h5>
                <ul class="list-unstyled">
                    <li><a href="">Questions & Answers</a></li>
                    <li><a href="">NCERT Solutions</a></li>
                    <li><a href="">NCERT Solutions for Class 9 Maths</a></li>
                    <li><a href="">NCERT Solutions for Class 9 Maths</a></li>
                    <li><a href="">NCERT Solutions for Class 10 Maths</a></li>
                    <li><a href="">NCERT Solutions for Class 10 Maths</a></li>
                    <li><a href="">NCERT Solutions for Class 11 Maths</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-3">
                <h5 class="my-3">HOME TUITION</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Home Tuition in Bangalore</a></li>
                    <li><a href="">Chemistry Tuition</a></li>
                </ul>
            </div>
        </div>

        <div class="row icons">
            <ul class="list-unstyled d-flex">
                <li><a href="">
                        <fa name="facebook"></fa>
                    </a>
                </li>
                <li><a href="">
                        <fa name="youtube"></fa>
                    </a>
                </li>
                <li><a href="">
                        <fa name="twitter"></fa>
                    </a>
                </li>
            </ul>    

        </div>
            <div class="connect">
                <p>Toll Free: 1800-120-456-456</p>
                <p>Mobile: +91 988-660-2456</p>
                <p>(Mon-Sun: 9am - 11pm IST)</p>
                <p>Questions? <a href="">bondwithus@vedantu.com</a></p>
            </div>
            <div>
            <div class="row">
                Find Best Teacher for Online Tuition on vedantu
            </div>
            <p class="row para">
                Vedantu LIVE Online Master Classes is an incredibly personalized tutoring platform for you, while you
                are
                staying at your home.
                We have grown leaps and bounds to be the best Online Tuition Website in India with immensely talented
                Vedantu Master Teachers, from the most reputed institutions. We provide you year-long structured
                coaching
                classes for CBSE and ICSE Board & JEE and NEET entrance exam preparation at affordable tuition fees,
                with an exclusive session for clearing doubts, ensuring that neither you nor the topics remain
                unattended.
            </p>
            <p class="row para">
                WAVE platform encourages your Online engagement with the Master Teachers.
                Revision notes and formula sheets are shared with you, for grasping the toughest concepts.
                Assignments, Regular Homeworks, Subjective & Objective Tests promote your regular practice of the
                topics.
                Your academic progress report is shared during the Parents Teachers Meeting. Sessions get recorded for
                you to access for quick revision later, just by a quick login to your account.
                Interactive approach establishes a well-deserved academic connect between you and Master Teachers.
            </p>
            <p class="row para">
                Vedantu is the first choice of students aspiring to score full marks in their ICSE and CBSE Board
                exams or to crack any competitive exam like IIT JEE (Mains & Advanced), Kishore Vaigyanik Protsahan
                Yojana
                (KVPY), National Talent Search Exam (NTSE), International Math Olympiad (IMO), International English
                Olympiad (IEO).
                Hours and Hours of Study with no fun, is a bad idea for you, foreseeing the long run. To ensure that
                motivation is stirred
                in the best proportion for your clear understanding, a good number of quizzes and Objective tests like
                V-Brainer, V-Maths,
                Turbo Maths are organized to impart knowledge and reward the best performers with surprise gifts.
            </p>
            <p class="row para">
                Master Teachers cater to teaching Maths, Physics, Chemistry and Biology (Science) for 6th to 12th grades
                across CBSE and ICSE Boards.
                To promote talent and potential, the Prices for Master Classes are very affordable. FREE Sample Papers
                and Important questions are extracted, solved and discussed, ensuring that you are 100% prepared before
                any exam. Vedantu Classes rank as the best LIVE and Online Tutoring Website in top ten cities of India-
                Bangalore, Delhi, Hyderabad, Chennai, Mumbai, Patna, Kolkata, Pune, Chandigarh and Jaipur. In
                Middle-East and Singapore, we are the among the most recommended educational
                sites for an online home tutor at very lowest tuition fees.
            </p>
            <p class="row para">
                We know the value of your time and strive hard to deliver the best and invest in it with precision. Pdfs
                and soft copies of exhaustive
                subject material for preparation of the target exams like JEE Main, NEET, KVPY, NTSE, Olympiads, CBSE &
                ICSE Board exams & School exams,
                are provided to you post your registration with us, to download and keep learning on the go. Vedantu
                LIVE Online Master Classes is cemented by rigorous hard work of Master Teachers, complemented by the
                best study material along with FREE Books Solutions of NCERT, RD Sharma,
                RS Agarwal and HC Verma.
            </p>
            </div>
            <div class="text-center">
                Copyright 2019-2020
            </div>
        </div>
    </footer>