<style>
    .active{
        border: 2px solid orangered;
    }
</style>
<div class="container">
<div class="row">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <p data-target="#demo" data-slide-to="0"><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/CNBC_logo.svg" alt="Los Angeles" height="100px" width="100" active="active"></a></p>
      <p data-target="#demo" data-slide-to="1"><a href="#"><img src="https://drop.ndtv.com/homepage/images/ndtvlogo23march.png" alt="Los Angeles" height="100px" width="100" active="active"></a></p>
      <p data-target="#demo" data-slide-to="2"><a href="#"><img src="https://www.livemint.com/images/livemint-logo-v1.svg" alt="Los Angeles" height="100px" width="100" active="active"></a></p>
    </ul>
    <div class="carousel-inner" style="height:400px">
      <div class="carousel-item active">
        <img style="margin: 10px 0 0 40%" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/CNBC_logo.svg" width="100px" height="100px"alt="Los Angeles">
        <div class="" style="margin: 10px 0 0 0">
          <p class="text-center">Traditionally, students rely on brick-and-mortar coaching centers, but companies like Vedantu are springing up and more students are supplementing offline courses with online tutoring.            </p>
        </div>  
      </div>
      
      <div class="carousel-item">
        <img style="margin: 10px 0 0 40%" src="https://drop.ndtv.com/homepage/images/ndtvlogo23march.png" width="100px" height="100px" alt="Chicago">
        <div class="" style="margin: 10px 0 0 0">
          <p class="text-center">
                Vedantu breaks away from a typical classroom teaching structure and uses technology and customisation to enable students to interact with their chosen teacher Live Online!
            </p>
        </div>  
      </div>
      <div class="carousel-item">
        <img style="margin: 10px 0 0 40%" src="https://www.livemint.com/images/livemint-logo-v1.svg" width="100px" height="100px" alt="New York">
        <div class="" style="margin: 10px 0 0 0">

          <p class="text-center">In India, students often feel too shy to clarify their doubts in a crowded coaching classes. Many students travel long hours to get to class. Vedantu breaks these shackles by liberating learning and teaching from the limits of location.
            </p>
        </div>  
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"> </span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
</div>