<section class="container">
    <div class="row">
        <h1 class="text-center mx-auto" style="color: #615aa7; margin: 40px 0;">Why learn on Vedantu?</h1>
    </div>
</section>

<section class="container">
    <div class="row col-lg-12">
        <div class="vedantu-testimonials col-lg-3 col-sm-12">
            <div class="image-holder">
                <div class="image teacher">
                    <img src="https://www.vedantu.com/cdn/images/new-homepage/homepage_sprite.png?ver=11.90"
                        alt="teacher-icon">
                </div>
            </div>
            <h3 class="title asap-font text-center">
                Best Teachers
            </h3>
            <div class="text text-center">
                From IITs &amp; other top tier colleges with 10+ years of experience
            </div>
        </div>
        <div class="vedantu-testimonials col-lg-3">
            <div class="image-holder">
                <div class="image Teaching">
                    <img src="https://www.vedantu.com/cdn/images/new-homepage/homepage_sprite.png?ver=11.90"
                        alt="Teaching-icon">
                </div>
            </div>
            <h3 class="title asap-font">
                Adaptive Teaching
            </h3>
            <div class="text">
                Delivering customized learning based on the student's learning pace
            </div>
        </div>
        <div class="vedantu-testimonials col-lg-3">
            <div class="image-holder">
                <div class="image Safe">
                    <img src="https://www.vedantu.com/cdn/images/new-homepage/homepage_sprite.png?ver=11.90"
                        alt="Safe-icon">
                </div>
            </div>
            <h3 class="title asap-font">
                Convenient &amp; Safe
            </h3>
            <div class="text">
                No need to travel, learn at the comfort &amp; safety of your home
            </div>
        </div>
        <div class="vedantu-testimonials col-lg-3">
            <div class="image-holder">
                <div class="image Interactive">
                    <img src="https://www.vedantu.com/cdn/images/new-homepage/homepage_sprite.png?ver=11.90"
                        alt="Interactive-icon">
                </div>
            </div>
            <h3 class="title asap-font">
                LIVE &amp; Interactive
            </h3>
            <div class="text">
                2-way Interaction between student &amp; teacher, better than recorded videos
            </div>
        </div>
    </div>
</section>

    <section class="container video">
        <div class="row col-12 my-4">
                <div class="teacher-video-player" id="teacher-video">
                    <img src="https://d13mydmqxbdcgk.cloudfront.net/cdn/images/new-homepage/homepage_teacher-bg.jpg?ver=11.90"
                        alt="main-homepage-image" class="teacher-image" width="103%" height="450px">
                </div>
                
                <div class="overlay">
                    
            <div class="txt">
                    <div class="text-light font-weight-bold txt1">
                        Some of our Best Teachers sharing their Experiences
                    </div>
                    <div class="text-light font-weight-bold txt2">
                        Handpicked &amp; Certified by Vedantu for Quality Teaching
                    </div>
                    <svg x="0" y="0" width="48px" height="48px" viewBox="0 0 200 200" class="play play--ripple">
                            <circle fill="transparent" stroke="#FFFFFF" stroke-width="8" cx="100" cy="100" r="96"></circle>
                            <circle clip-path="url(#clipper)" fill="url(#ripple)" cx="100" cy="100" r="130"></circle>
                            <polygon fill="#FFFFFF" points="70.993,60.347 153.398,102.384 70.993,144.42   "></polygon>
                    </svg>
            </div>
            
        </div>
        </div>
    </section>