<section class="container news">
    
        <div class="row text-center  col-12 py-4">
            <div class="py-4 col-lg-3 col-sm-12">
                <div class="number" id="student-number">96040</div>
                <div class="text">
                    Happy Students
                </div>
            </div>
            <div class="py-4 col-lg-3 col-sm-12">
                <div class="number asap-font" id="hours-learning">101524</div>
                <div class="text">
                    Hours of Live Learning
                </div>
            </div>
            <div class="py-4 col-lg-3 col-sm-12">
                <div class="number">
                    500
                </div>
                <div class="text">
                    Cities Worldwide
                </div>
            </div>
            <div class="py-4 col-lg-3 col-sm-12">
                <div class="number">
                    4
                </div>
                <div class="text">
                    Avg Teacher Rating
                </div>
            </div>
        </div>
</section>