<section class="container" style="margin-top: 10%; background-color: #f5f5f5;">
    <div class="row">
        <h2 class="header asap-font mx-auto my-4">
            Our Offerings
        </h2>
    </div>
    <div class="row col-12 p-0">
        <div class="card col-lg-4 col-sm-12 col-md-6">
            <div class="card-body">
                <h4 class="card-title">JEE (Main &amp; Advanced)</h4>
                <p class="card-text">
                    <span>Grades 11th, 12th &amp; Droppers</span>
                    <span class="d-block">Long term course to prepare for JEE and Boards, in a balanced way</span>
                </p>
                <a href="#" class="card-link">Explore Now</a>
            </div>
        </div>

        <div class="card col-lg-4 col-sm-12 col-md-6">
                <div class="card-body">
                    <h4 class="card-title">JEE (Main &amp; Advanced)</h4>
                    <p class="card-text">
                        <span>Grades 11th, 12th &amp; Droppers</span>
                        <span class="d-block">Long term course to prepare for JEE and Boards, in a balanced way</span>
                    </p>
                    <a href="#" class="card-link">Explore Now</a>
                </div>
            </div>

            <div class="card col-lg-4 col-sm-12 col-md-6">
                    <div class="card-body">
                        <h4 class="card-title">JEE (Main &amp; Advanced)</h4>
                        <p class="card-text">
                            <span>Grades 11th, 12th &amp; Droppers</span>
                            <span class="d-block">Long term course to prepare for JEE and Boards, in a balanced way</span>
                        </p>
                        <a href="#" class="card-link">Explore Now</a>
                    </div>
                </div>
       
    </div>
</section>


<section class="container" >
    <div class="row">
            <div class="text mx-auto text-center h3 my-4">
                <span>Premium 1-on-1 LIVE CLASSES</span>
            </div>
    </div>
    <div class="row card col-12">
        <div class="card-body d-flex">
                    <div class="select-image col-1">
                        <img class="premium-img" src="https://d13mydmqxbdcgk.cloudfront.net/cdn/images/new-homepage/homepage_sprite.png?ver=11.90" alt="scholar-image">
                    </div>
                    <div class="title asap-font col-6 pt-4">
                            Interested in getting 1-on-1 classes with a Personal Teacher?
                        <div class="text">
                            For Students Studying in CBSE, ICSE, IGCSE, IB &amp; State Boards
                        </div>
                </div>
                <div class="col-4 pt-4">
                    <a href="#" class="demo-class-button asap-font tab-button-extra">book a trial class</a>
                </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
            <div class="support-section">
                    <div class="specific-text">
                        Need Something more specific?
                    </div>
                    <div class="specific-desc">
                        Discuss with our counsellor to get a customized study plan designed for you.
                    </div>
                    <div class="talk-to-section">
                        <a href="/v/show-interest?type=TALK_TO_COUNSELLOR" class="talk-image">
                            <img src="https://d13mydmqxbdcgk.cloudfront.net/cdn/images/new-homepage/homepage_sprite.png?ver=11.90" alt="talk-image">
                        </a>
                        <a href="/v/show-interest?type=TALK_TO_COUNSELLOR" class="talk">talk to us</a>
                    </div>
                </div> 
    </div>
</section>
</main>